html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.videoSection {
  position: relative;
  height: 160vh; /* Extend height for scroll effect */
  background: black;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.heroVideo, .canvas {
  width: 100%;
  object-fit: cover;
  height: 100vh;
  display: block;
}

.title {
    display: flex;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.subtitle {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.workSection {
  position: relative;
  height: 100vh; 
  overflow: hidden;
  background: #000;
}

.workHeading {
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 2.5rem;
}

.workContainer {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  width: calc(96.5vw * 3);
}

.projectCard {
  min-width: 92vw;
  height: 60vh;
  flex-shrink: 0;
  background: #111;
  padding: 1rem;
  border-radius: 8px;
  color: white;
}